# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Ignore the Python virtual environment
Lib/
Scripts/
pyvenv.cfg
Include/
share/

# DO NOT ignore your source code or gitignore itself
!project/
!.gitignore
